attrs==20.3.0
colorama==0.4.4
docopt==0.6.2
importlib-metadata==3.10.1
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pylint==2.7.4
pyparsing==2.4.7
pyspark==3.1.1
pytest==6.2.3
pytest-watch==4.2.0
setuptools==40.6.2
titlecase==2.0.0
toml==0.10.2
typing-extensions==3.7.4.3
watchdog==2.0.2
wheel==0.36.2
zipp==3.4.1
